
/* 	
=============================================================================
 PRIMARY STYLES
=============================================================================
*/

/* Base
========================================================================== */
@-ms-viewport{ width: device-width; }

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../imgs/background.png);
    background-attachment: fixed;
}

header {
    background-color: rgb(250, 151, 38);
}

/* layout & typeography
========================================================================== */
.title {
    display: block;
    font-size: 400%;
    background-color: rgb(250, 151, 38);
    padding: 10px 50px 20px 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.catFact-container {
    display: inline-flex;
    margin: 0px 0px 0px 100px;
    /*padding: 5px;*/
    white-space: nowrap;
    animation: animate 35s linear infinite;
}
/*banner animation*/
@keyframes animate {
    0% {
        transform: translateX(100);
    }
    100% {
        transform: translatex(-100%);
    }
}

.site-nav{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    margin-left: 50px;
}

.intro-container {
    display: inline-block;
    background-color: white;
    border: 10px;
    border-color: white;
    padding: 20px 50px 50px 30px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    Margin-left: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
}

.intro-img {
    max-width: 33%;
    padding: 0% 1% 
}

.quiz-container{
    background-color: white;
    text-align: center;
    margin: 50px;
    padding: 20px;
    width:fit-content;
    height: fit-content;
    border-radius: 23px;
}

.aswr-grid{
    display:grid;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.mc-img{
    max-width: 250px;
}

.credits-container{
    display: inline block;
    background-color: rgb(250, 151, 38);
    margin-top: 50px;
    padding-top: 3px;
    padding-left: 20px;
    max-height: fit-content;
    bottom: 0;
    position: bottom;
}
.credits{
    display: inline block;
    background-color: rgb(250, 151, 38);
    text-align: center;
    padding-bottom: 10px;
    margin: 0px;
}

.port {
    display: inline-flex;
    color: black;
    font-weight: 700;
    font-size: large;
    text-align: center;
    border-radius: 23px;
    background-color: rgb(95, 94, 94);
    border: 10px;
    border-color: white;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 0px 0px;
    margin-left: 50px;
}

.port:hover, .port:focus, .port:active {
    background: white;
    color: #1b1b27;
    border: solid rgb(95, 94, 94);
}

/* about pannel
=========================================================*/
 .btn-m, .btn-s, .btn-w, .btn-hm, .WCayQ, .WCayQ:visited, .WCayQ:active {
    display: inline;
    color: black;
    font-weight: 700;
    font-size: 140%;
    text-align: center;
    text-decoration: none;
    border-radius: 23px;
    background-color: white;
    border: solid;
    border-color: #a1a3a3;
    padding: 10px 30px 10px 30px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.Mance-open  .info-pannel{
    display: none;
}

.Slayer-open  .info-pannel{
    display: none;
}

.Walter-open  .info-pannel{
    display: none;
}

.HM-open  .info-pannel{
    display: none;
}

.info-pannel{
    display: flex;
    flex-direction: column;
    background: white;
    color: #1b1b27;
    border: solid #a1a3a3;
    border-radius: 0px 23px 23px 23px;
    z-index: 1;
    position: absolute;
    width: 25%;
    padding-bottom: 5px;
}

 .btn-m:hover, .btn-s:hover, .btn-w:hover, .btn-hm:hover, .WCayQ:hover, .WCayQ:focus, .btn-m:focus, .btn-s:focus, .btn-w:focus, .btn-hm:focus {
    background: white;
    color: #1b1b27;
    border: solid #a1a3a3;
    text-decoration: underline;

}

.btn-m:visited, .btn-s:visited, .btn-w:visited, .btn-hm:visited, .btn-m:active, .btn-s:active, .btn-w:active, .btn-hm:active {
    border-radius: 23px 23px 15px 0px;
    margin-bottom: 0px;

}

.info, .info-img {
    padding: 1px 5px 1px 10px;
}

.info-img {
    display:flex;
    max-width: 70%;
    padding-left: 15%;
}


/* quizlette
=======================================================*/
.quiz-link {
    text-decoration: none;
    color: black;
}

.mc-img {
    border-radius: 21px;
}

.aswr-btn, .aswr-btn:visited {
   /* display:flex;
    align-items:space-between;
    justify-content:center;
    flex-wrap: wrap;*/
    color: black;
    border-radius: 23px;
    background-color: white;
    border: 10px;
    border-color: white;
    width:fit-content;
    height: fit-content;
    padding: 5px;
}

.aswr-btn:hover, .aswr-btn:focus, .aswr-btn:active {
    background: white;
    color: #1b1b27;
    border: solid #a1a3a3;
}

.hide {
    display: none;
}

/*mobile styles
=======================================================*/
